.footer {
  color: #FFFFFF;
  text-align: center;
  font-family: "Inter-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 32px 16px;
}

@media (max-width: 544px) {
  .footer {
    line-height: 14px;
  }
}