.footer {
  color: #FFFFFF;
  text-align: center;
  font-family: "Inter-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 32px 16px;
  background-color: #000000;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
    padding: 24px 16px;
  }
}