.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #FFFFFF;
  margin: 92px auto;
  max-width: 990px;
  padding: 0 16px;
}

.intro__title {
  font-family: "Inter-Black", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 800px;
  margin: 0 0 16px 0;
}

.intro__text {
  font-family: "Inter-Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 700px;
  margin: 0 0 8px 0;
}

.intro__text-autor {
  font-family: "Inter-Black", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 700px;
  margin: 0 0 24px 0;
}

.intro__paragraph {
  font-family: "Inter-Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 722px;
  margin: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .intro {
    margin: 70px auto;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text,
  .intro__text-autor {
    font-size: 20px;
    line-height: 28px;
  }

  .intro__paragraph {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .intro {
    margin: 50px auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 36px;
  }

  .intro__text,
  .intro__text-autor {
    font-size: 18px;
    line-height: 24px;
  }

  .intro__paragraph {
    font-size: 14px;
    line-height: 1.5;
  }
}