.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  font-family: "Inter-Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 20px;
    font-size: 15px;
  }
}

@media (max-width: 580px) {
  .page {
    padding: 0 16px;
    font-size: 14px;
  }
}