.photo-grid {
  max-width: 1190px;
  margin: 26px auto 92px;
}

.photo-grid__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
  height: 213px;
  object-fit: cover;
}