.photo-grid {
  max-width: 1190px;
  margin: 26px auto 92px;
}

.photo-grid__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
  height: 213px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .photo-grid {
    margin: 20px auto 70px;
  }

  .photo-grid__images {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 580px) {
  .photo-grid {
    margin: 16px auto 50px;
  }

  .photo-grid__images {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .photo-grid__image {
    aspect-ratio: 16 / 9;
  }
}