.places {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.places__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  color: #ffffff;
}

.places__content-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  grid-column: 1;
}

.places__content-text {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 20px;
  justify-items: start;
  grid-column: 2;
}

.places__content-title {
  font-size: 72px;
  line-height: 0.9;
  font-family: "Inter-Black", sans-serif;
  margin: 0;
  max-width: 460px;
}

.places__author {
  font-size: 14px;
  line-height: 1.4;
}

.places__author-title {
  font-size: 12px;
  color: gray;
  letter-spacing: 3px;
}

.places__author-name {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.places__content-description {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.places__content-button {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
  transition: 0.3s ease;
}

.places__content-button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px #00000060;
}